body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#map {
    height: 70%;
    width: 100%;
}

#weather-info {
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    height: 30%;
    overflow-y: auto;
}
